/* remove default */
html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
  font-family: 'YS Text';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  outline: none;
}

:root {
    --text-color: #000000;
    --text-font-size-s: 13px;
    --headline-font-xl: 24px;
    --duplo-space-xs: 8px 0px;
}

/* native elements */
body {
  color: #7F8285;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #7F8285;
}

a:visited {
  color: #7F8285;
}

a:focus {
  color: #7F8285;
}

a:hover {
  color: #e00000;
}

a:active {
  color: #e00000;
}

/* project classes */
#root {
  min-height: 100vh;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  margin: 10px 100px;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
}

.logo {
  font-size: 24px;
  line-height: 28px;
}

/* INPUT */
.input-field {
  outline: none;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 13px 11px 13px;
}

.input-field:focus {
  border: 2px solid #a79999;
}

label {
  margin-bottom: 6px;
}

/* layout */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.w-100 {
  width: 100%;
}

.cr-xl {
  justify-content: right;
}

.p-1 {
  padding: 8px;
}
.ptb-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-1 {
  margin: 8px;
}
.mtb-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* TODO */
.top-button-group {
  min-width: 160px;
  display: flex;
  align-self: flex-start;
  text-align: right;
  justify-content: flex-end;
}

.top-button { 
  display: inline-flex;
  font-size: 13px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  background-color: #e6e6e6;
}
.top-button-icon {
  display: inherit;
  padding: 8px;
  align-items: center;
}
.top-button-label {
  padding-right: 13px;
}
.top-button:hover {
  background-color: #dbdbdb;
}
.top-button:active, .top-button:focus {
  background-color: #e6e6e6;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* BUTTON */
.button {
  min-height: 36px;
  min-width: 80px;
  font-size: 13px;
  align-items: center;
  border-radius: 4px;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.button-control {
  background-color: #e6e6e6;
}
.button-control:hover {
  background-color: #dbdbdb;
}
.button-control:active, .button-control:focus {
  background-color: #e6e6e6;
  border: 2px solid #b3b3b3;
  padding-left: 18px;
  padding-right: 18px;
}
.button-action {
  background-color: #ffcc00;
}
.button-action:hover {
  background-color: #f2c200;
}
.button-action:active, .button-action:focus {
  background-color: #f2c200;
  border: 2px solid #b38f00;
  padding-left: 18px;
  padding-right: 18px;
}
.button:disabled {
  border: 0;
  background-color: #f2f2f2;
  color: #7f7f7f;
}

/* TEXT */
.text-main {
  color: #000;
}
.text-bold {
  font-weight: bold;
}
.text-15 {
  font-size: 15px;
}
.text-13 {
  font-size: 13px;
  line-height: 18px;
}
.text-center {
  text-align: center;
}
.text-required::after {
  content: '*';
  color: #f33;
}
.display-block {
  display: block;
}
.button-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .logo {
    font-size: 18px;
  }
  .top-button-label {
    display: none;
  }
  header {
    margin: 8px 10px;
  }
  main {
    margin: 8px 10px;
  }

  .top-button-group {
    min-width: 90px;
  }
  .button-shadow {
    box-shadow: 0px 0px 0px 0px;
  }
  .cr-xl {
    justify-content: flex-start;
  }
  .w-100-xl {
    width: 100%;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
